/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  background-attachment: fixed;
  background-color: #ffffff;
  box-shadow: 0.5px 0.5px 20px 0.5px #5e5d5d;
  width: 100%;  height: auto;
  z-index: 1000;
  position: fixed;
}

.nav-logo {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.nav-logo img {
  width: 3rem;
  border-radius: 50%;
  height: 3rem;
}

.nav-logo h4 {
  font-weight: bolder;
  font-size: medium;
  margin: 0;
  color: #2c2c2c;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  color: #2b2b2b;
  font-weight: 600;
  font-size: medium;
}

.menu-toggle i {
  font-size: 1.5rem;
  color: #1d1d1d;
}

.hero-btn {
  margin-top: 20px;
}

.home {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  display: none;
}

.hero_img {
  display: none;
}

.hero_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-btn button a {
  text-decoration: none;
  color: #fff;
}

.about {
  position: relative;
  height: 90vh;
  background-color: #fff;
  padding: 0px 40px;
}

.about h2 {
  text-align: center;
  padding-top: 5%;
  font-size: 2.25rem;
  font-weight: 600;
  color: #1e1e1e;
}

.about-p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 15rem;
}

.about-p p {
  text-align: center;
  color: #555;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 80rem;
}

.about-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 40px;
}

.aboutme,
.about-skills {
  flex: 40%;
}

.aboutme h3,
.about-skills h3 {
  font-size: xx-large;
  font-weight: 700;
  color: #1e1e1e;
}

.abt-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.aboutme p,
.about-skills .skill-row {
  margin: 15px 0px;
  font-size: large;
  font-weight: 500;
  word-spacing: 2px;
  color: #555;
}

.cbtn button {
  padding: 15px 60px;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 700;
}

.cbtn button a {
  text-decoration: none;
  color: #fff;
}

.p-link-btn {
  padding: 5px 20px;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.p-link-btn:hover {
  background-color: #555;
}

.skill-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}

.skills {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.25rem;
  margin-right: 1rem;
  font-size: 17px;
  background: #555;
  border-radius: 5px;
  font-weight: 500;
  width: fit-content;
  color: #fff;
}

.projects {
  position: relative;
  height: auto !important;
  padding: 0;
}

.projects h2 {
  text-align: center;
  /* padding-top: 5%; */
  font-size: 2.25rem;
  font-weight: 600;
  color: #1e1e1e;
}

.projects .pp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 15rem;
  text-align: center;
  color: #555;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 80rem;
}

.project-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 20px;
  margin: 2rem 5rem;
}

.projects-content {
  margin-bottom: 2rem;
  width: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  transition: box-shadow 0.3s ease;
}

.projects-content:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img img {
  width: 40%;
  mix-blend-mode: hard-light;
}

.project-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-link h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #1e1e1e;
}

.project-link p {
  margin: 20px 0px;
  font-size: 1rem;
  font-weight: 500;
  word-spacing: 1px;
}

.contact {
  position: relative;
  height: auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.contact h2 {
  text-align: center;
  padding-top: 2%;
  font-size: 2.25rem;
  font-weight: 600;
  color: #1e1e1e;
}

.cp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 15rem 3rem 15rem;
}

.cp p {
  text-align: center;
  color: #555;
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 80rem;
}

.contact-cont {
  margin: 0rem 20rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 50px;
  border: none;
  border-radius: 10px;
  max-height: 120vh;
  width: 60rem;
  background: #1e1e1e;
  color: #fff;
}

.contact-form {
  text-align: left;
}

.contact-form h5 {
  font-size: 20px;
  text-align: left;
  color: #fff;
}

.contact-form input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  height: 40%;
  padding: 1.5rem;
  font-size: 16px;
  margin: 10px 0px;
  border: none;
  background-color: #555;
  border-radius: 4px;
  resize: none;
  outline: none;
  color: #fff;
}

input[type="text"]::placeholder,
textarea::placeholder,
input[type="email"]::placeholder {
  color: #ccc;
}

.contact-btn {
  padding: 15px 70px;
  background-color: #535252;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 700;
}

footer {
  position: relative;
  background-color: #1e1e1e;
  color: #fff;
  padding: 0rem 5rem;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  padding-top:  4.5rem ;
}

.footer-hero {
  max-width: 40rem;
}

.footer-links h4 {
  margin-bottom: 16px;
  color: #fff;
}

.footer-links a {
  padding-right: 9px;
  color: #fff;
}

.footer-links a i {
  font-size: x-large;
  color: #fff;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding-bottom: 1rem;
}

/* Header styles for mobile */
@media (max-width: 768px) {
  nav {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .nav-logo h4 {
    font-size: medium;
  }

  .menu-toggle {
    display: flex;
    font-size: x-large;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    right: 0;
    height: 40vh;
    z-index: 1;
    width: 100vw;
  }

  .nav-links.active {
    display: flex;
    align-items: flex-end;
    justify-content: unset;
  }

  .nav-links .close-link.active,
  .nav-links .close-links.active,
  .nav-links .close-linkss.active,
  .nav-links .close-linksss.active {
    display: none;
  }

  .nav-links li {
    margin: 10px 0;
    height: 10rem;
  }

  .nav-links li a {
    color: #000000;
  }

  .home {
    width: auto;
    padding: 0;
    height: 70vh;
    width: 100%;
    overflow: hidden;
  }

  .hero-content {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: center;
    position: relative;
  }

  .hero_img {
    display: block;
    position: absolute;
    filter: brightness(1.5);
    filter: blur(2px);
    height: 70vh;
  }

  .hero_video {
    display: none;
  }

  .hero-head h1 {
    font-weight: 600;
    font-size: 2rem;
    color: #000000;
  }
  
  .hero-para p {
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #1e1e1e;
  }
  
  .hero-btn button {
    border: none;
    padding: 10px 30px;
    background-color: #1e1e1e;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 6px;
    color: #fff;
  }


  .about {
    width: auto;
    height: auto;
    padding: 10px;
  }

  .about-cont {
    margin: 0rem;
  }

  .about h2 {
    font-size: 1.5rem;
  }

  .about-p {
    margin: 0rem;
  }

  .about-p p {
    font-size: 0.875rem;
  }

  .about-content {
    flex-direction: column;
  }

  .aboutme,
  .about-skills {
    flex: 100%;
  }

  .aboutme h3,
  .about-skills h3 {
    font-size: 1.2rem;
  }

  .aboutme p {
    font-size: 1rem;
  }

  .skill-row {
    display: flex;
    flex-wrap: wrap;
  }

  .skills {
    margin-bottom: 0.625rem;
    font-size: 16px;
  }

  .projects {
    width: auto;
    height: auto;
    padding: 10px 20px;
  }

  .projects h2 {
    font-size: 1.5rem;
  }

  .projects .pp {
    margin: 1rem 0rem 2rem 0rem;
    font-size: 1rem;
  }

  .project-cont {
    margin: 0;
  }

  .projects-content {
    grid-template-columns: 1fr;
  }

  .project-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-img img {
    width: 150%;
  }

  .project-link h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  .project-link p {
    font-size: 0.5rem;
    display: none;
  }

  .p-link-btn {
    padding: 5px 20px;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .project-btn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .contact {
    height: auto;
    padding: 20px 20px;
  }

  .contact h2 {
    font-size: 1.5rem;
  }

  .cp {
    margin: 1rem 0;
  }

  .cp p {
    font-size: 0.875rem;
  }

  .contact-cont {
    margin: 0rem;
    width: auto;
    height: auto;
  }

  .contact-form {
    padding: 0;
  }

  .contact-form label h5 {
    font-size: 1rem;
    text-align: left;
  }

  .contact-form input[type="text"],
  .contact-form textarea,
  .contact-form input[type="email"] {
    font-size: 14px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    height: 5vh;
  }

  .contact-form textarea {
    height: 20vh;
  }

  .contact-btn {
    cursor: pointer;
    background-color: #555;
    padding: 10px 30px;
    width: 100%;
  }

  footer {
    padding: 0rem 1rem;
    width: auto;
    height: auto;
  }

  .footer-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
  }

  .footer-links h4 {
    margin-bottom: 12px;
  }

  .footer-links a {
    padding-right: 6px;
  }

  .footer-links a i {
    font-size: x-large;
  }

  .footer-bottom {
    font-size: 12px;
  }
}
/* Header styles for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  nav {
    padding: 20px;
    height: auto;
    width: 100%;
  }

  .nav-logo img {
    width: 20%;
  }

  .nav-logo h4 {
    font-size: large;
  }

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    position: static;
    top: auto;
    right: auto;
    height: auto;
    width: auto;
  }

  .nav-links.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links .close-link.active,
  .nav-links .close-links.active,
  .nav-links .close-linkss.active,
  .nav-links .close-linksss.active {
    display: none;
  }
}

/* Home page styles for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .home {
    padding: 80px 20px;
  }

  .hero-content {
    margin: 5rem 0;
  }

  .hero-head h1 {
    font-size: 2rem;
  }

  .hero-para p {
    font-size: 1rem;
  }

  .hero-btn button {
    padding: 10px 30px;
  }
}

/* About page styles for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .about {
    height: auto;
    width: auto;
  }

  .about-cont {
    margin: 0rem;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about-p {
    margin: 0rem;
  }

  .about-p p {
    font-size: 1rem;
  }

  .about-content {
    flex-direction: column;
  }

  .aboutme,
  .about-skills {
    flex: 100%;
  }

  .aboutme h3,
  .about-skills h3 {
    font-size: 1.2rem;
  }

  .aboutme p {
    font-size: 1rem;
  }

  .skill-row {
    display: flex;
    flex-wrap: wrap;
  }

  .skills {
    padding: 0.875rem 1rem;
    margin-bottom: 0.625rem;
    margin: 0.5rem;
    font-size: 16px;
  }
}

/* Project page styles for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .projects {
    height: auto;
    width: auto;
  }

  .projects h2 {
    font-size: 2rem;
  }

  .projects .pp {
    margin: 1rem 0rem 2rem 0rem;
    font-size: 1rem;
  }

  .project-cont {
    margin: 0;
  }

  .projects-content {
    grid-template-columns: 1fr;
  }

  .project-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-link p {
    font-size: 1em;
    text-align: center;
  }

  .p-link-btn {
    padding: 10px 30px;
    margin-bottom: 0.5rem;
  }
}

/* Contact page styles for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .contact {
    padding: 80px 20px;
    height: auto;
    width: auto;
  }

  .contact h2 {
    font-size: 2rem;
  }

  .cp {
    margin: 1rem 0;
  }

  .cp p {
    font-size: 1rem;
  }

  .contact-cont {
    margin: 0rem;
    height: auto;
    width: auto;
  }

  .contact-form h5 {
    font-size: 1rem;
  }

  .contact-form input[type="text"],
  .contact-form textarea,
  .contact-form input[type="email"] {
    font-size: 14px;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    height: 5vh;
  }

  .contact-form textarea {
    height: 20vh;
  }

  .contact-btn {
    padding: 10px 30px;
    width: 100%;
  }
}

/* Footer styles for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    padding: 0rem 20px;
    height: auto;
    width: auto;
  }

  .footer-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem 0;
  }

  .footer-links h4 {
    margin-bottom: 12px;
  }

  .footer-links a {
    padding-right: 6px;
  }

  .footer-links a i {
    font-size: x-large;
  }

  .footer-bottom {
    font-size: 12px;
  }
}
